<div class="container">
<div class="row">
	<div class="col-md-8">
<h1>Minimise Users</h1>
	</div>
	<div class="col-md-4" align="right">
		<%= link_to "Add New User", new_user_path, class: "btn btn-primary" %>
	</div>
</div>
<hr />



<% @users.each do |u| %>
	
	<div class="well well-sm">
		<div class="row">
			<div class="col-md-12">
				<%= u.firstname %> <%= u.lastname %>
			</div>
		</div>
	</div>


<% end %>




</div>