<div class="container" style="padding-bottom: 20px;">
	
	<h1>About Minimise</h1>
	<hr />
	<br />

	<div class="row">
		
		<div class="col-md-6">
			<p>Minimise USA provides innovative financial energy solutions designed to convert large public and private enterprises Profit/Loss expense outgoings to energy assets which, in turn, transfer to the Balance Sheet. </p>

			<p>Minimise USA owns a range of cutting edge energy management technologies that provide deep energy savings exclusive for the Education, Government and Chain Retail sectors. These technologies, along with a range of energy efficiency products, are combined to provide an integrated, multi-technology solution at never a cost to client.  </p>
		</div>


		<div class="col-md-5 offset-md-1">
			<div class="image-fill">
				<%= image_tag("hp_span1_img.png") %>
			</div>
		</div>
	</div>

	<div class="bottom-nav">
		<hr />
		<%= render 'aboutnav' %>
	</div>
</div>