<div class="container" style="padding-bottom: 120px;">
	
	<h1>About Minimise</h1>
	<hr />
	<br />

	<div class="row">
		
		<div class="col-md-5">
			<p>Minimise USA provides innovative financial energy solutions designed to convert large public and private enterprises Profit/Loss expense outgoings to energy assets which, in turn, transfer to the Balance Sheet. </p>

			<p>Minimise USA owns a range of cutting edge energy management technologies that provide deep energy savings exclusive for the Education, Government and Chain Retail sectors. These technologies, along with a range of energy efficiency products, are combined to provide an integrated, multi-technology solution at never a cost to client.  </p>
		</div>


		<div class="col-md-6 offset-md-1">
			<div class="image-fill">
				<%= image_tag("minimisesign.jpg") %>
			</div>
		</div>
	</div>
	<br /><br /><hr /><br />
	<div class="row">
		<div class="col-md-7">
			<h2>Energy Efficiency Benefits Charity</h2>

			<p>From the very beginning, it has been the vision of the partners to tap into the economics of inefficient infrastructure and profit from offering clients a Shared Savings Program (SSP) at ZERO cost. Going along with this was a desire to see how correcting these inefficiencies can also produce economics that would set an example that we hope others will follow.</p>

			<h5>Charitable Donation</h5>

			<p>What Minimise pledges to do is contribute part of the savings of the SSP to charity. What we wish to show through our actions is that we wish to associate and do business with clients who also have a mind for charity. If they don't yet, we hope they will instantly appreciate how unlocking the economics of efficiency conversions can produce largess that will benefit charitable organizations doing good deeds that simply did not exist before doing the Shared Savings Program.</p>

			<p>The economics of the Shared Savings Program are solid. But at Minimise, we hope that this aspect of the SSP will make more clients more excited about partnering with Minimise to pursue energy efficiency within their organizations.</p>
		</div>

		<div class="col-md-4 offset-md-1">
			<div class="image-fill" style="padding-top: 50px; max-width: 350px; margin:auto;">
				<%= image_tag("giving-icon-large.png") %>
			</div>
		</div>


	</div>
	<br />
	
</div>