<div class="container" style="padding-bottom: 100px;">
<h1>Achievements</h1>
<hr />

<h4>From May 2018 – October 2018:</h4>

<ol class="achievement-list">
<li>We have completed the installation of over 63 782  new light fittings across HCPS. Remember this is not a re-lamp project; it is a full replacement of aged and inefficient fixtures with state of the art LED fixtures. Take a moment: Minimise USA making News on Good Morning Tampa Bay</li>  
<li>Designed, built and installed a chiller system at Edison Elementary School. This was the first of its kind, design/build project at HCPS where Minimise and its local partners reinvented the cooling infrastructure at this city of Tampa school.</li>
<li>Also at Edison Elementary, we started with the design and implementation of the first covered Solar panel parking lot. Once completed, this along with other global initiatives will offset over 42% of its energy consumption.</li>
<li>Initiated an IoT (Internet of Things) based Energy Management Protocol at four schools located around HCPS.  An ancillary benefit of this deployment is the much needed and talked about improvements to school security. Utilizing this technology has proved that there is more to Energy Management and Conservation Services than just energy management and conservation services.</li>
<li>We started the first of its kind Zero Waste Cooling Tower project at Chamberlain High School. The success of this pilot is the catalyst in the use or reduction of chemicals, along with maintenance and energy savings technology.</li>
<li>Eniscope, Minimise’ real time energy consumption monitoring system, was installed at over 80 schools.  (We will have an Eniscope at the November 2018, FSFOA conference for you to inspect, exam and ask questions about.)</li>
</ol>

<br />
<h4>Testimonials:</h4>

<blockquote class="blockquote">
  <p class="mb-0">“In less than four weeks this summer, Minimise and Skanska were able to replace old lighting in nearly half our schools. That means nearly 100,000 kids immediately get better learning environments and the district immediately starts saving money.”</p>
  <footer class="blockquote-footer">Chris Farkas <cite title="Source Title">Deputy Superintendent of Operations for the Hillsborough County School District</cite></footer>
</blockquote>
<br />
<blockquote class="blockquote">
  <p class="mb-0">“Hillsborough County is the eighth largest school district in the country, with over 250 sites that serve approximately 216,000 students. We also employ about 24,000 employees and operate on a budget of $3 billion. As a very large district, it’s important to invest in improvements like this lighting upgrade and energy management system that can help increase our operational efficiencies.”</p>
  <footer class="blockquote-footer">Susan Valdes <cite title="Source Title">Hillsborough County School Board Member</cite></footer>
</blockquote>
<br />
<blockquote class="blockquote">
  <p class="mb-0">“The Skanska team worked in close collaboration with Minimise to carry out this comprehensive lighting replacement project across dozens of schools in the Hillsborough County community. Not only does this project translate to measurable long-term energy savings for the school district, but it provides quality lighting that will allow for a better learning experience.”</p>
  <footer class="blockquote-footer">Michael C. Brown <cite title="Source Title">Executive Vice President and General Manager of Skanska USA’s building operations in Florida</cite></footer>
</blockquote>
<br />
<blockquote class="blockquote">
  <p class="mb-0">“The students immediately responded to the new lighting. They
immediately lit up in the new environment.”</p>
  <footer class="blockquote-footer">Kevin Lyons <cite title="Source Title">Music Teacher, Lockhart Elementary 
</cite></footer>
</blockquote>
<br />
<blockquote class="blockquote">
  <p class="mb-0">“I would definitely recommend the Minimise solution for any school district. Together, imagine what we could do for our state and the future of our children.”</p>
  <footer class="blockquote-footer">Gretchen Saunders <cite title="Source Title">Chief Business Officer  
</cite></footer>
</blockquote>


</div>