<div class="container" style="padding-bottom: 120px;">


<h1>Glossary</h1>

<hr />



<div class="row">
	<div class="col-md-7">

		<h2>Baseline Adjustments</h2>
		<p>The non-routine adjustments arising during the post-retrofit period that cannot be anticipated and which require custom engineering analysis.</p>

		<h2>Base Year</h2>
		<p>A defined period of any length before implementation of the EEM(s).</p>

		<h2>Base Year Conditions</h2>
		<p>The set of conditions which gave rise to the energy use/demand of the base year.</p>

		<h2>Base Year Energy Data</h2>
		<p>The energy consumption or demand during the base year.</p>


		
	</div>

	
	<div class="col-md-4 offset-md-1">
		<div class="image-fill" style="max-width: 300px; margin:auto;">
			<%= image_tag("glossary-icon-large.png") %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

		<h2>Commissioning</h2>
		<p>A process for achieving, verifying and documenting the performance of equipment to meet the operational needs of the facility within the capabilities of the design, and to meet the design documentation and the owner’s functional criteria, including preparation of operator personnel.</p>

	
		<h2>Degree Day</h2>
		<p>A degree day is measure of the heating or cooling load on a facility created by outdoor temperature. When the mean daily outdoor temperature is one degree below a stated reference temperature such as 18°C, for one day, it is defined that there is one heating degree day. If this temperature difference prevailed for ten days there would be ten heating degree days counted for the total period. If the temperature difference were to be 12 degrees for 10 days, 120 heating degree days would be counted. When the ambient temperature is below the reference temperature it is defined that heating degree days are counted. When ambient temperatures are above the reference, cooling degree days are counted. Any reference temperature may be used for recording degree days, usually chosen to reflect the temperature at which heating or 
		cooling is no longer needed.</p>


		<h2>Energy Efficiency Measure (EEM)</h2>
		<p>a  set of activities designed to increase the energy efficiency of a facility. Several EEM’s may be carried out in a facility at one time, each with a different thrust. An EEM may involve one or more of: physical changes to facility equipment, revisions to operating and maintenance procedures, software changes, or new means of training or managing users of the space or operations and maintenance staff.</p>


		<h2>EMS or Energy Management System</h2>
		<p>A computer that can be programmed to control and/or monitor the operations of energy consuming equipment in a facility.</p>

		
		<h2>Energy Savings</h2>
		<p>Actual reduction in electricity use (kWh), electric demand (kW), or thermal units (Btu).</p>

		

		<h2>EVO (Efficiency Verification Organization)</h2>
		<p>A non-profit organization whose products and services help people engineer and invest in energy efficiency projects worldwide. EVO’s vision is to have a global marketplace that correctly values end-use efficiency options as the most cost-effective, efficient and clean alternative to supply side energy.</p>


		<h2>IPMVP (INTERNATIONAL PERFORMANCE MEASUREMENT AND VERIFICATION PROTOCOL)</h2>
		<p>defines standard terms and suggests best practice for quantifying the results of energy efficiency investments and increase investment in energy and water efficiency, demand management and renewable energy projects. The IPMVP® was developed by a coalition of international organizations (led by the United States Department of Energy) starting in 1994-1995. The Protocol has become the national measurement and verification standard in the United States and many other countries, and has been translated into 10 languages. IPMVP® is published in three volumes, most widely downloaded and translated is IPMVP Volume 1 Concepts and Options for Determining Energy and Water Savings. A major driving force was the need for a common protocol to verify savings claimed by Energy Service Companies (ESCOs) implementing Energy Conservation Measures (ECM). </p>


		<h2>M&V or Measurement & Verification</h2>
		<p>The process of determining savings using one of the four IPMVP Options.</p>


		<h2>Metering</h2>
		<p>Collection of energy and water consumption data over time at a facility through the use of measurement devices.</p>


		<h2>Monitoring</h2>
		<p>The collection of data at a facility over time for the purpose of savings analysis (i.e., energy and water consumption, temperature, humidity, hours of operation, etc.)</p>


		<h2>M&V Option</h2>
		<p>One of four generic M&V approaches defined herein for energy savings determination.</p>


		<h2>Post-Retrofit Period</h2>
		<p>any period of time following commissioning of the EEM.</p> 


		<h2>Power Factor</h2>
		<p>the ratio of the real power flowing to the load, to the apparent power in the circuit and is a dimensionless number in the closed interval of -1 to 1, meaning that the voltage & current waveforms are not in phase, reducing the instantaneous product of the two waveforms (V x I). Real power is the capacity of the circuit for performing work in a particular time. Apparent power is the product of the current and voltage of the circuit. Due to energy stored in the load and returned to the source, or due to a non-linear load that distorts the wave shape of the current drawn from the source, the apparent power will be greater than the real power. A negative power factor occurs when the device (which is normally the load) generates power, which then flows back towards the source, which is normally considered the generator.</p>


		<h2>Simulation Model</h2>
		<p>an assembly of algorithms that calculates energy use based on engineering equations and user-defined parameters.</p>


		<h2>Solid-state lighting (SSL)</h2>
		<p>Refers to a type of lighting that uses  semiconductor light-emitting diodes(LEDs), organic light-emitting diodes (OLED), or polymer light-emitting diodes (PLED) as sources of illumination rather than electrical filaments, plasma (used in arc lamps such as fluorescent lamps), or gas.</p>

		<p>The term "solid state" refers commonly to light emitted by solid-state electroluminescence, as opposed to incandescent bulbs (which use thermal radiation) or fluorescent tubes. Compared to incandescent lighting, SSL creates visible light with reduced heat generation or parasitic energy dissipation. Most common "white" LEDs convert blue light from a solid-state device to an (approximate) white light spectrum using photoluminescence, the same principle used in conventional fluorescent tubes.</p>

		<p>The typically small mass of a solid-state electronic lighting device provides for greater resistance to shock and vibration compared to brittle glass tubes/bulbs and long, thin filament wires. They also eliminate filament evaporation, potentially increasing the life span of the illumination device.</p>

		<p>Solid-state lighting is often used in traffic lights and is also used frequently in modern vehicle lights, street and parking lot lights, train marker lights, building exteriors, remote controls etc.</p>

		<h2>Verification</h2>
		<p>The process of examining the report of others to comment on its suitability for the intended purpose.</p>

	</div>
</div>




</div>