<div class="jumbo-splash" style="margin-top: -75px;">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Energy Efficiency</h1>
    <p class="lead">Modern &amp; Smart.<br /><span>Today's Efficient Energy Technology Can&nbsp;be&nbsp;Yours.</span></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
  </div>
</div>
</div>
<div class="container">
	<h1>This is the index page</h1>
</div>