<div class="container" style="padding-bottom:100px;">

<h1>Meet the Partners</h1>
<hr />


<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px;" %>
    		</div>
			<div class="col">
			    <div class="card-body">
			      <h5 class="card-title" style="margin-bottom: 0;">Francis Barram</h5>
			      <h3>Ensight</h3>
			      <hr />
			      <p class="card-text">Francis is an Australian and South African awarded energy management thought leader, author and designer. Francis as CEO of Ensight has created the Energy Leadership Program delivered to Rio Tinto, 400MW Richards Bay Minerals titanium.</p>
			      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			    </div>
			</div>
			<div class="card-footer">
		    	<h3>Ensight</h3>
		    	<p class="card-text">Ensight is an energy management design, implementation company that enters into long term partnerships to sustain energy cost savings for large corporations. Through its enterprise Energy Analyzer design software and its Energy Leadership Program Ensight has a platform to work with large corporates to achieve 20%+ energy cost savings profitably whilst supporting tight cash flows and challenging operating environments, Ensight delivers holistic energy design solutions with focused M&V saving with no-capital investment. Energy projects requiring capital are taken off balance sheet to leverage savings from the opportunity for projects that would normally stay undeveloped.</p>
			</div>
  	</div>
 </div>

<br /><br />

<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px;" %>
    		</div>
			<div class="col">
			    <div class="card-body">
			      <h5 class="card-title" style="margin-bottom: 0;">Troy Wrigley</h5>
			      <h3>BEST</h3>
			      <hr />
			      <p class="card-text">In 2006 Troy founded BEST, along with three co-founders, and took on the role of Marketing Director. Troy was primarily responsible for creating the company’s new, transparent approach to energy management, which centered on the philosophy ‘you can’t manage, what you can’t measure’. In the process Troy secured a variety of technology partnerships to deliver a unique portfolio of energy saving solutions, which were successfully deployed in over 50 countries around the world. Clients included Coca-Cola, Crowne Plaza, DHL, FedEx, Ford, Harley Davidson, McDonalds, Sony & Subway.</p>
			      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			    </div>
			</div>
			<div class="card-footer">
		    	<h3>BEST</h3>
		    	<p class="card-text">British Energy Saving Technology (BEST) specialise in the design, manufacture and development of a unique range of clean energy technologies. BEST’s flagship product, Eniscope, is a one-of-a-kind real-time energy management solution that harnesses the power of IoT, Big Data and AI to deliver Energy Savings, Measurement & Verification, Predictive Maintenance and Occupant Engagement. BEST deploys its solutions through a network of qualified partners operating in over 50 countries around the world and counts IBM, KFC, Nampak, Sheraton Hotels, 7-Eleven, Unisys and CBRE among its many end-users.</p>
			</div>
  	</div>
 </div>

</div>