<div class="container" style="padding-bottom:100px;">

<h1>Meet the Partners</h1>
<hr />


<div class="card">
  	<div class="row no-gutters">
            <div class="col-auto">
    			<%= image_tag "coming-soon.jpg", class: 'card-img-left', style: "width:200px;" %>
    		</div>
			<div class="col">
			    <div class="card-body">
			      <h5 class="card-title" style="margin-bottom: 0;">Francis Barram</h5>
			      <h3>Ensight</h3>
			      <hr />
			      <p class="card-text">Francis is an Australian and South African awarded energy management thought leader, author and designer. Francis as CEO of Ensight has created the Energy Leadership Program delivered to Rio Tinto, 400MW Richards Bay Minerals titanium.</p>
			      <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
			    </div>
			</div>
			<div class="card-footer">
		    	<h3>Ensight</h3>
		    	<p class="card-text">Ensight is an energy management design, implementation company that enters into long term partnerships to sustain energy cost savings for large corporations. Through its enterprise Energy Analyzer design software and its Energy Leadership Program Ensight has a platform to work with large corporates to achieve 20%+ energy cost savings profitably whilst supporting tight cash flows and challenging operating environments, Ensight delivers holistic energy design solutions with focused M&V saving with no-capital investment. Energy projects requiring capital are taken off balance sheet to leverage savings from the opportunity for projects that would normally stay undeveloped.</p>
			</div>
  	</div>
 </div>


</div>