<div class="container">

<h1 class="heading">Meet the Partners</h1>
<hr />

<p>At MINIMISE our expertise span the spectrum of entrepreneurship from the worlds of sustainability, alternative energy, Government, logistics, finance, sales, project management, Government, logistics and retail construction.</p> 

<p>All of our services are provided for FREE as part of structured Shared Savings Plan. With MINIMISE, everyone wins.</p>

<p>Each with a story, friends came together to form Minimise USA. Each one of them with skill set complimentary of the other for the launch of what will prove to be the finest SSP (Shared Saving Plan) in the US.</p>

<h2>Danny</h2>

<p>A serial entrepreneur with over 25 years of domestic and International experience as a top level executive.  After successful engagements in biofuel, alternative energy and energy conservation measures, Danny founded Minimise USA in 2011.  In doing so, he serves as Chairman/CEO and a driving force behind the vision.</p>

<h2>Lou</h2>
	
<p>Lou has consulted to commercial and government clients for 30 years on effective business models and operations, innovation, organizational change and organizational culture. Lou co-founded a software company that provided innovative cloud solutions to Fortune 100 and state university customers for their health and safety data management. Lou led a federal IT strategy and management consulting company, growing it 5 fold in 6 years. Lou has consulted independently for 15 years; he now serves as Minimise' Chief Operating Officer.</p>

	
<h2>Dickran</h2>

<p>Dickran has worked for bulge bracket firms like Morgan Stanley and Cantor Fitzgerald in fixed income investments and mortgage backed securities, respectively. He is a licensed CPA for the state of Michigan, and he received an MBA from Columbia Business School and a Masters in Accountancy from Walsh College. He also has an engineering degree from Georgia Tech.</p>

	
<h2>Brian</h2>

<p>A veteran of a variety of dynamic entrepreneurial ventures in the US...ranging from a highly successful entertainment venue/nightclub in Midtown Atlanta to large scale event planning and consulting, to the management of his own sales organization for the powerhouse eye wear and lifestyle brand Oakley,  Brian has run a very successful boutique real estate and investment brokerage in Tamarindo, Costa Rica since 2004. Brian was a key component in co-formulating with Danny the original vision and model for Minimise in addition to being integral in all phases of development.</p>
<!--
<h2>Nick</h2>

<p>Got his start​  in the Retail Construction arena in the mid-90's ​. He quickly became ​an International industry leading professional ​in his field​.  Utilizing his vast network of Fortune 500 clients it was a natural transition to join MUSA in 2013 as one of the original members.  Assisting the Operations team as well introducing new clients to our SSP model is second nature for our projected growth.</p>


<h2>John</h2>

<p>Brings a multiplicity of talents to the Minimise USA team.  John's lengthy career has overlapped many sectors ranging from: single family home builder, non-profit executive, M&A, to Financial Advisory, to civic volunteer leader, to general all purpose problem solver for literally hundreds of people. John joined Minimise first as an adviser and board member before becoming CEO.  The team refers to John as the "voice" of Minimise USA.  Perhaps John’s best talent is providing simple solutions to complex issues.​</p>
-->


<h2>Scott</h2>

<p>For the past 30 years, Scott’s entire career has been in the commercial and residential real estate industry. His vast array of expertise includes real estate development, brokerage, finance, strategic planning and property management. As Minimise’s Vice President of Real Estate Solutions and Strategic Planning, Scott will help to identify, facilitate and implement “No Cost Energy Solutions” for all types of real estate.  Scott received his Master’s of Management (MBA) at Northwestern University’s J.L. Kellogg Graduate School of Management and his undergraduate degree from Indiana University’s Kelley School of Business.</p>

</div>