<div class="container" style="padding-bottom:100px;">
<h1>Why Minimise</h1>
<hr />
<br />
<div class="card">
<ol class="list-group">
	<li class="list-group-item"><span class="big_bold">No Capital Outlay</span> – Never is the client asked to participate in the funding of the Energy Conservation Measures (ECMs) or any related cost – No Loans, No Leases EVER.</li>
	<li class="list-group-item bg-light"><span class="big_bold">Prepaid Savings</span> – Minimise is the only Energy Services and Management Company known to prepay savings to its clients. Yes, this means savings paid the moment a phase or project is completed.</li>
	<li class="list-group-item"><span class="big_bold">Bespoke Technology</span> – Real-time cloud-based consumption monitoring designed to pinpoint exact consumptions and to identify measurable areas for reduction of consumption and increase in energy savings.</li>
	<li class="list-group-item bg-light"><span class="big_bold">Expert Analysis</span> – Understanding of tariffs, demand charges and historical client expenditures and consumption allows for accountable baselines.</li>
	<li class="list-group-item"><span class="big_bold">IoT Driven Energy Management</span> – While other companies will want to replace your EMS and BMS systems, Minimise will integrate, unify and optimize them through its brand agnostic IoT.nxt driven solutions.</li>
	<li class="list-group-item bg-light"><span class="big_bold">Design Build Solutions</span> – HVAC optimization and replacements made possible using latest advances designed for the present and the future not the past.</li>
	<li class="list-group-item"><span class="big_bold">Solar Power Generation</span> – Utilize capital derived from Solar Power Offset for further Capital Investment.</li>
	<li class="list-group-item bg-light"><span class="big_bold">State of the Art LED Solutions</span> – The lowest hanging fruit in the ECM world; quality LED fittings. Yes, Minimise focuses on fittings replacements solutions not ballast bypass re-lamps.</li>
	<li class="list-group-item"><span class="big_bold">Included Maintenance</span> – For the duration of the No Capital Outlay Agreement (NCOPA) every ECM installed, equipment replaced or optimized is serviced by Minimise. This is a clear path to realizing direct labor and material savings.</li>
	<li class="list-group-item bg-light"><span class="big_bold">Change Management</span> – You cannot improve that which you cannot measure. By making the invisible visible and engaging the end user through exciting interactive proprietary platforms, change is only a matter of time.</li>
</ol>
</div>
</div>