$navbar-border-radius: 0px;

.jumbo-splash .jumbotron {
	min-height: 550px; background-image: asset-url('SolarPanels.jpg'); 
	background-size:cover; 
	background-position:top;
	/*background-blend-mode: luminosity; */
}

.hp-left-box {
	background-image: asset-url('bg_blur.jpg');
}

.hp-right-box {
	background-image: asset-url('bg-minimise-bulb.png');
}


@import "bootstrap";