.main-nav {
	 
}
.main-nav .main-logo {
	width:225px; margin-right: 45px;
}
.main-nav .main-logo img  {width:100%;}
.main-nav .navbar {
	/*color:#a6cc3a;*/
}
.top-top-nav {
	width:100%; background-color:#a6cc3a; 
}
.top-top-nav ul li a, .top-top-nav ul li {
	color:#272727; font-size: .9em;
}
.well {
    max-width: 100%; padding-left: 1% !important; padding-right: 1% !important;
    background-color: #f6f6f6; margin-bottom: 15px;
}
.well-sm {
    margin-bottom: 7px !important; padding-top: 5px; padding-bottom: 5px; border-radius: 5px;
}
.btn-primary {
	background-color:#a6cc3a; border-color: #999999;
}
.btn-primary:hover {
	background-color: green;
}
.form-group {
	margin-bottom: 10px;
}
.control-label {
	padding-top: 10px;
}
.paginate {
	margin-bottom:45px;  
}
ul.pagination {
	justify-content: center;
}
ul.pagination li.active {
	background-color:#a6cc3a;
}
ul.pagination li.previous-page a {
	color:#a6cc3a;
}
.green {
	background-color:green; color:green;
}
.no-display {
	display:none;
}
.panel {
	padding: 25px; background-color: #F6F6F6; border-radius: 20px;
	margin: auto;
}
.panel ul {
	list-style: none;
}
.container h2 {
	color:#a6cc3a; margin-top: 25px;
}
.page-image {
	margin-top: 45px; margin-bottom: 45px;
}
.card {
	margin-bottom: 25px !important;
}
.card .card-img-top {
	width:100%; 
}
.card .card-img-top img {
	height: 100%; width: 100%;
}
.bold {
	font-weight: bold;
}
.well-lg {
	padding:20px !important;
}
.well-lg p {
	margin-bottom: 1px;
}
.order_view h5 {
	margin-bottom: 0px;
}
.order_well {
	padding:25px !important;
}
.is_complete {
	width:150px; height: 38px; float:right; margin-right: 10px;
}
.is_complete img {
	width:100%;
}





/******* HOMEPAGE ********/

.jumbo-splash {
	width:100%; margin-bottom: 45px;
}
.jumbo-splash .jumbotron .display-4 {
	font-size:4em; color:#000000; text-shadow: 2px 2px 0px #a6cc3a, 2px 2px 5px #ffffff; 
}
.jumbo-splash .jumbotron p.lead {
	font-size: 2.25em; color:#FFFFFF; text-shadow: 1px 1px 0px #272727; background-color: rgba(47,47,47,0.65); padding: 25px;
	margin-top: 3%;
}
.jumbo-splash .jumbotron p.lead span {
	font-weight:lighter;
}
.jumbo-splash .jumbotron .btn-primary {
	background-color:#a6cc3a; border: 1px solid #999999;
}

.jumbo-splash .jumbotron .btn-primary:hover {
	background-color:green;
}
.logged_badge {
	position: absolute; opacity: .2; top: 12px; margin-left: 38px; font-style: italic;
}



/***************** Locations ****************/
.location-sum {
	padding-top:15px; padding-bottom: 10px; border-radius: 5px; margin-bottom: 15px;
}
.location-sum h4 {
	margin-left: 2%; margin-bottom: 10px;
}
.location-sum h6 {
	margin-bottom: 2px;
}



@media screen and (max-width: 983px) {
	.goAway {
		display: none;
	}
	.nav-spacer {
		display:none;
	}
	.logged_badge {
		display: none;
	}
}

