.main-nav {
	 
}
.main-nav .main-logo {
	width:225px; margin-right: 45px;
}
.main-nav .main-logo img  {width:100%;}
.main-nav .navbar {
	/*color:#a6cc3a;*/
}
.top-top-nav {
	width:100%; background-color:#a6cc3a; 
}
.top-top-nav ul li a, .top-top-nav ul li {
	color:#272727; font-size: .9em;
}
.well {
    max-width: 100%; padding-left: 1% !important; padding-right: 1% !important;
    background-color: #f6f6f6; margin-bottom: 15px;
}
.well-sm {
    margin-bottom: 7px !important; padding-top: 5px; padding-bottom: 5px; border-radius: 5px;
}
.btn-primary {
	background-color:#a6cc3a; border-color: #999999;
}
.btn-primary:hover {
	background-color: green;
}



/******* HOMEPAGE ********/

.jumbo-splash {
	width:100%; margin-bottom: 45px;
}
/*
.jumbo-splash .jumbotron {
	min-height: 550px; background-image: url("/assets/SolarPanels.jpg"); 
	background-size:cover; 
	/*background-image: url("http://www.minimiseusa.com/images/SolarPanels_41ccb83f-82da-4670-bacc-38751f3ae01b.jpg");*/ 
	/*background-image: url("http://www.minimiseusa.com/images/SolarPanels_editted");*/ 
	/*
	background-position:top;
	background-blend-mode: luminosity; 
}
*/
.jumbo-splash .jumbotron .display-4 {
	font-size:4em; color:#000000; text-shadow: 1px 1px 5px #a6cc3a, 2px 2px 5px #ffffff; 
}
.jumbo-splash .jumbotron p.lead {
	font-size: 2.25em; color:#FFFFFF; text-shadow: 1px 1px 0px #272727; background-color: rgba(47,47,47,0.40); padding: 25px;
	margin-top: 3%;
}
.jumbo-splash .jumbotron p.lead span {
	font-weight:lighter;
}
.jumbo-splash .jumbotron .btn-primary {
	background-color:#a6cc3a; border: 1px solid #999999;
}

.jumbo-splash .jumbotron .btn-primary:hover {
	background-color:green;
}