.main-nav {
	 
}
.main-nav .main-logo {
	width:225px; margin-right: 45px;
}
.main-nav .main-logo img  {width:100%;}
.main-nav .navbar {
	/*color:#a6cc3a;*/
}
.top-top-nav {
	width:100%; background-color:#a6cc3a; 
}
.top-top-nav ul li a, .top-top-nav ul li {
	color:#272727; font-size: .9em;
}
.cta h4 {
	font-style:italic; font-family: "Helvetica", san-serif; 
	text-align: right; opacity: .7; font-weight: lighter;
	font-size:1.1em; padding-top: 7px;
}
.well {
    max-width: 100%; padding-left: 1% !important; padding-right: 1% !important;
    background-color: #f6f6f6; margin-bottom: 15px;
}
.well-sm {
    margin-bottom: 7px !important; padding-top: 5px; padding-bottom: 5px; border-radius: 5px;
}
.btn-primary {
	background-color:#a6cc3a; border-color: #999999;
}
.btn-primary:hover {
	background-color: green;
}
.form-group {
	margin-bottom: 10px;
}
.control-label {
	padding-top: 10px;
}
.paginate {
	margin-bottom:45px;  
}
ul.pagination {
	justify-content: center;
}
ul.pagination li.active {
	background-color:#a6cc3a;
}
ul.pagination li.previous-page a {
	color:#a6cc3a;
}
.green {
	background-color:green; color:green;
}
.no-display {
	display:none;
}
.panel {
	padding: 25px; background-color: #F6F6F6; border-radius: 20px;
	margin: auto;
}
.panel ul {
	list-style: none;
}
.container h2 {
	color:#a6cc3a; margin-top: 25px;
}
.page-image {
	margin-top: 45px; margin-bottom: 45px;
}
.card {
	margin-bottom: 25px !important;
}
.card .card-img-top {
	width:100%; 
}
.card .card-img-top img {
	height: 100%; width: 100%;
}
.bold {
	font-weight: bold;
}
.well-lg {
	padding:20px !important;
}
.well-lg p {
	margin-bottom: 1px;
}
.order_view h5 {
	margin-bottom: 0px;
}
.order_well {
	padding:25px !important;
}
.is_complete {
	width:150px; height: 38px; float:right; margin-right: 10px;
}
.is_complete img {
	width:100%;
}
.page-image {
	width:100%; margin-top:55px; margin-bottom:55px;
}





/******* HOMEPAGE ********/

.jumbo-splash {
	width:100%; margin-bottom: 45px;
}
.jumbo-splash .jumbotron .display-4 {
	font-size:4em; color:#000000; text-shadow: 2px 2px 0px #a6cc3a, 2px 2px 5px #ffffff; 
}
.jumbo-splash .jumbotron p.lead {
	font-size: 2.25em; color:#FFFFFF; text-shadow: 1px 1px 0px #272727; background-color: rgba(47,47,47,0.65); padding: 25px;
	margin-top: 3%;
}
.jumbo-splash .jumbotron p.lead span {
	font-weight:lighter;
}
.jumbo-splash .jumbotron .btn-primary {
	background-color:#a6cc3a; border: 1px solid #999999;
}

.jumbo-splash .jumbotron .btn-primary:hover {
	background-color:green;
}
.logged_badge {
	position: absolute; opacity: .2; top: 12px; margin-left: 38px; font-style: italic;
}
.image-fill {
	position: relative; height:100%; width: 100%;
}
.first-span {
	padding-top: 70px; padding-bottom: 100px;
} 
.first-span h1 {
	margin-bottom: 30px;
}
.image-fill img {
	width:100%;
}
.dont-underline:hover {
	text-decoration: none !important;
}
.second-span {
	min-height: 450px;
	margin-bottom: 0px !important; 
}
.hp-left-box, .hp-right-box {
	text-align: center; padding-top: 45px; padding-bottom: 65px;
}
.hp-left-box {
	background-size:cover; color: #FFFFFF;
	background-blend-mode: all;
}
.hp-left-box p {
	padding-left: 5%; padding-right: 5%;
}
.hp-right-box {
	background-color: #272727; color:#FFFFFF;
	/*background-image: linear-gradient(#272727, #000000);*/
	background-size: contain; background-repeat: no-repeat;
	background-position: right;
}
.hp-right-box h2 {
	margin-bottom: 35px; margin-top: 20px;
}
.hp-right-box p {
	padding-left: 15%; padding-right: 15%;
	font-size: 1.25em; color:#f1f1f1;
}
.sharedsavings-logo {
	width:100%; max-width: 300px;
}
.sharedsavings-logo img {max-width: 250px;}




/***************** Locations ****************/
.location-sum {
	padding-top:15px; padding-bottom: 10px; border-radius: 5px; margin-bottom: 15px;
}
.location-sum h4 {
	margin-left: 2%; margin-bottom: 10px;
}
.location-sum h6 {
	margin-bottom: 2px;
}
.order-number {
	position: absolute; height: 25px; min-width: 25px; padding-left: 5px; padding-right: 5px; border-radius: 25px; background-color: red;
	color:#FFFFFF; text-align: center; margin-left: -21px; margin-top: -24px;
}



/*************** Orders *****************/
.orders-nav {
	list-style:none; width:100%; margin-bottom: 45px; 
	height:40px; padding-left: 0px !important;
}
.orders-nav li {
	width:33.33%; text-align: center; float:left; height:40px;
	border-right:1px solid #C1C1C1; line-height: 40px; 
}
.orders-nav li:last-child {
	border-right:none;
}
.orders-nav li a {
	color:inherit !important;
}




/******************* about ******************/
.bottom-nav {
	margin-top: 170px;
}
.about-nav {
	list-style:none; width:100%;  
	height:40px; padding-left: 0px !important;
	bottom: 0px; 
}
.about-nav li {
	width:25%; text-align: center; float:left; height:40px;
	border-right:1px solid #C1C1C1; line-height: 40px; 
}
.about-nav li:last-child {
	border-right:none;
}
.about-nav li a {
	color:inherit !important;
}




/********* Footer ***********/
.foot-wrap {
	background-color: #313131; color:#FFFFFF;
	padding-top: 45px; padding-bottom: 25px; 
}
.foot-logo {
	width:100%; max-width: 300px;
}
.foot-logo img {width:100%;}
.left-foot p {
	color:#787878; padding-left: 76px; margin-bottom: 5px;
	line-height: 1em;
}
.left-foot p:last-child {
	padding-bottom: 25px;
}
.right-foot {
	padding-left: 2.5%; padding-right: 2.5%;
}
.right-foot p {
	color:#919191; padding-top: 15px;
	font-size: 1.35em;
}
.foot-nav {
	color:272727 !important; text-align: right; list-style: none;
}
.foot-nav li {
	float:right;
}
.foot-nav li a {
	color:inherit !important;
}
.right-to-center {
	text-align: right;
}
.copyright {
	font-size: .8em; color: #787878;
}




/** Media Queries **/

@media screen and (max-width: 100px) {
	
	
	
	
	
	
}

@media screen and (max-width: 992px) {
	.goAway {
		display: none;
	}
	.cta {
		display: none;
	}
	.nav-spacer {
		display:none;
	}
	.logged_badge {
		display: none;
	}
	.page-image img {
		width:100%; 
	}
	.foot-logo {
		margin:auto; margin-bottom: 35px;
	}
	.left-foot p {
		padding-left: 0px; text-align: center;
	}
	.foot-nav .nav-link {
		padding-left: 0px; margin-left: 0px;
		text-align: center; margin:auto;
	}
	
	.right-foot {
		padding-left:10%; padding-right: inherit;
	}
	.right-foot p {
		padding-top: 20px;
	}
	span.copyright {
		width:100% !important; text-align: center !important; 
	}
	.hp-right-box p {
		padding-left: 5%; padding-right: 5%;
		font-size: 1.25em; 
	}
}


@media screen and (max-width: 768px) {
	.foot-nav {
		text-align: center; margin-top: 20px;
	}
	.foot-nav li {
		float:none;
	}
	.right-foot {
		padding-left: inherit; padding-right: inherit;
	}
	.right-foot p {
		padding-top: 15px; font-size: 1.15em; text-align: center;
	} 
	.getCentered {
		text-align: center !important;
	}
}
