<div class="container-fluid foot-wrap">
<div class="container">

<div class="row">
	<div class="col-md-5 left-foot">
		<div class="foot-logo"><%= image_tag("minimise-foot-logo.png") %></div>
		<p>USA &nbsp;&nbsp;»&nbsp; Costa Rica &nbsp;»&nbsp;&nbsp; Kuwait</p>
		<p>1-888-841-1840</p>
		<p><a href="mailto:info@minimiseusa.com" style="color:inherit;">info@minimiseusa.com</a></p>
	</div>
	<div class="col-md-7 right-foot">
		<p>Minimise Assesses, Plans, and Implements energy plans that reduce, conserve and save. Energy efficiency developed from a clear understanding of our client’s needs and the specifications for improvements.</p>
	</div>


</div>



</div>
<hr style="border-color:#414141;" />
<div class="container">
	<div class="row">
		<div class="col-md-6 getCentered">
			<span class="copyright">Copyright © Minimise 2018 - ALL RIGHTS RESERVED.</span>
		</div>
		<div class="col-md-6">
			<ul class="foot-nav">
				<li><%= link_to "Submit Maintenance Request", maintenance_path, class: "nav-link", style: "color: #c5c4c4 !important;" %></li>
				<li><%= link_to "Contact Us", contact_path, class: "nav-link", style: "color: #c5c4c4 !important;" %></li>
			</ul>
		</div>
	</div>
</div>
</div>