<div class="container-fluid foot-wrap">
<div class="container">

<div class="row">
	<div class="col-md-5 left-foot">
		<div class="foot-logo"><%= image_tag("minimise-foot-logo.png") %></div>
		<p>USA » Costa Rica » Kuwait</p>
		<p>1-888-841-1840</p>
		<p><a href="mailto:info@minimiseusa.com" style="color:inherit;">info@minimiseusa.com</a></p>
	</div>
	<div class="col-md-7 right-foot">
		<p>Expertise spanning the spectrum of entrepreneurship from the worlds of sustainability, alternative energy, retail construction, project management, structured finance and sales.</p>
	</div>


</div>



</div>
<hr style="border-color:#414141;" />
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<span class="copyright">Copyright © Minimise 2018 - ALL RIGHTS RESERVED.</span>
		</div>
		<div class="col-md-6">
			<ul class="foot-nav">
				<li><%= link_to "Submit Maintenance Request", maintenance_path, class: "nav-link", style: "color: #c5c4c4 !important;" %></li>
				<li><%= link_to "Contact Us", contact_path, class: "nav-link", style: "color: #c5c4c4 !important;" %></li>
			</ul>
		</div>
	</div>
</div>
</div>