<div class="container" style="padding: 45px 0px 75px 0px;">
<h3 align="center" style="margin-bottom: 55px;">Solutions Made Simple</h3>

<div class="row">
	<div class="col-lg-3 hp-solution" style="background-color:#a6cc3a; border-color: green;">
		<h5 style="border-color: green; /*background-color: green;*/ /*color:#FFFFFF;*/">Assessment</h5>
		<p>Minimise USA Energy Experts offer an in-depth energy audit and energy performance assessment. Baselines and benchmarks are established to aid in identifying cost-effective Energy Conservation Measures to be implemented.</p>
	</div>
	<div class="col-lg-3 hp-solution" style="background-color:#00ffff; border-color:#29abe2;">
		<h5 style="border-color:#29abe2; /*background-color:#29abe2;*/ /*color:#FFFFFF;*/">Planning</h5>
		<p>Further design and analysis are completed to determine best use and blend of efficiency technology, hardware and equipment. This is documented in the form of a proposal, which is submitted to the client before consideration and acceptance. This proposal sets out a strategic plan including a scope of work and predicted energy savings.</p>
	</div>
	<div class="col-lg-3 hp-solution" style="background-color:#ed1e79; border-color:#d4145a;">
		<h5 style="border-color:#d4145a; /*background-color:#d4145a;*/ /*color:#FFFFFF;*/ ">Implement</h5>
		<p>The implementation of the Energy Conservation Measures is overseen by the project experts at Minimise USA. Cutting Edge, mostly proprietary technologies and value engineering solutions are used to achieve energy savings.</p>
	</div>
	<div class="col-lg-3 hp-solution" style="background-color:#ba9bc9; border-color:#838bc5;">
		<h5 style="/*background-color:#838bc5;*/ border-color:#838bc5; /*color:#FFFFFF;*/">Efficiency</h5>
		<p>The energy efficiency improvements are tracked and monitored by Certified Measurement & Verification Professionals (CMVPs) utilizing International Performance Measurement and Verification Protocol - IPMVP® - to quantify the energy efficiency. The resulting savings from those efficiencies are demonstrated and captured, along with ongoing commitment for continual tracking and improvements.</p>
	</div>
</div>
</div>